/* Specification */

body{
    /*background: #F6FCFF;*/
    padding: 0;
    margin: 0;
    font-family: 'Quantico', sans-serif;
    font-size: 26px;
    color: #010101;
}

.navbar{
    display: flex;
}

.logo{
    margin-left: 30px;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

ul, li{
    padding: 0;
    margin: 0;
    display: block;
}

*{
    box-sizing: border-box;
}

.step__box__name{
    color:  #032943;
}

.language_switcher{
    border: 1px solid #032943;
    padding: 2px;
    border-radius: 4px;
}

.language_switcher_li{
    margin-top: 10px;
    margin-left: 200px;
}

.lang_switch_sel{
    margin-right: 5px;
    color:  #032943;
    border-radius: 4px;
    border: 1px solid #fff;
}

.lang_switch_submit{
    border-radius: 4px;
    border: 1px solid #fff;
    background:  #d9f0ff;
}



/* Header */

.menu{
    display: flex;
    margin-left: 50px;
    margin-top: 25px;
}

.navbar{
    padding: 37px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.language_switcher_li{
    font-size: 20px;
    margin-left: 42px;
}

.nav-link{
    color: #032943 !important; 
}

.nav-link:hover{
    color: #0c72b6 !important; 
}

.nav-item{
    font-size: 20px;
    margin-left: 42px;
}

.profile-menu li a{
    color: #053e64; 
}

.profile-menu li a:hover{
    color: #0c72b6; 
}

.profile-menu li{
    font-family: ABeeZee;
    font-size: 22px;
    margin-left: 42px;
}

.process{
    margin-top: 30px;
}

h1{
    margin: 0 auto;
    text-align:center;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 30px;
    color: #032135; 
}

.step_name{
    margin: 0 auto;
    text-align:center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    color: #052d47; 
}

.steps_step_name{
    margin: 0 auto;
    text-align:center;
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 20px;
    color: #052d47; 
    font-family: ABeeZee;
}

.about_box_name{
    margin: 0 auto;
    text-align:center;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 20px;
    color: #02385c; 
    font-family: ABeeZee;
}

.process__img img{
    height: 120px;
    margin-bottom: 40px;
}
.process__img img:nth-child(1){
    margin-left: 35%;
}




/* Explanation */

.explanation{
    margin-top: 10px;
    margin-bottom: 50px;
}

.explanation__text{
    font-size: 22px;
    margin-bottom: 20px;
    font-family: ABeeZee;
}

/* Steps */

.step__box{
    background: #BCE4F6;
    border-radius: 0px 0px 50px 0px;
    padding: 15px 46px;
    margin-bottom: 20px;
}

.step__box:hover{
    background: #9bdcfa;
    margin-bottom: 20px;
    border: 1px solid #0a66a3;
}

.step__box img{
    width: 22px;
    height: 18px;
    margin-top: 5px;
}


/* Steps boxes */

.card__name-text{
    margin: 15px 20px;
}

.card__solution-text{
    margin: 10px 20px;
}

.card__exp-text{
    margin: 0 20px;
    font-family: ABeeZee, sans-serif;
    line-height: 25px;
    font-size: 22px;
    color: #363636;
    margin-bottom: 20px;
    max-width: 150px;
}

.cube-card{
    border-radius: 5px;
    border: 2px solid #BCE4F6;
    width: 320px;
    margin-bottom: 60px;
}

.about_box_cards{
    border-radius: 5px;
    border: 2px solid #BCE4F6;
    width: 320px;
    margin-bottom: 60px;
}

.cube_card_borderless{
    border: none;
    width: 320px;
    margin-bottom: 60px;
}

.cube-card img{
    height: 160px;
}

/* Congratulations */

.congratulations{
    margin: 45px 0;
}

.congra__text{
    font-size: 22px;
    margin-bottom: 20px;
    font-family: ABeeZee;
    color: #032943;
}

/* Footer */
footer{
    background: #032943;
    color: #fff;
    padding: 40px 0;
}

.footer__logo{
    height: 40px;
}
.footer__text{
    font-family: Prosto One;
    font-size: 16px;
    line-height: 30px;
    margin-top: 10px;
    text-align: center;
}

/* forms */ 
.authentication{
    font-size: 22px;
    margin-bottom: 20px;
    font-family: ABeeZee;
}

.authentication__title{
    margin-top: 50px;
    font-size: 28px;
    margin-bottom: 20px;
    font-family: ABeeZee;
}

.authentication__link{
    margin-top: 50px;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: ABeeZee;
}

.extra_auth_box{
    font-family: ABeeZee;
    margin-bottom: 100px;
}

/*Icons*/
.about_save_photo{
    height: 20px;
}

.card-save-photo{
    margin-left: auto;
    margin-top: 20px;
    margin-right: 20px;
}

.card-save-button{
    margin-left: auto;
    margin-top: -15px;
    margin-right: 20px;
    font-size: 50px;

}

/* Diary */
.progress_date{
    font-family: ABeeZee;
    font-size: 14px;
    color: #032943;
    margin-bottom: 8px;
}

.progress_time{
    font-family: ABeeZee;
    font-size: 24px;
    color: #021827;
    margin-bottom: 40px;
}

.progress-time-form{
    margin-top: 50px;
}

.progress-time-title{
    font-family: ABeeZee;
    color: #032943;
    margin-bottom: 5px;
}

.progress-time-input{
    border: 3px solid #56C3F4;
    box-sizing: border-box;
    border-radius: 10px;
}

.progress-time-button{
    background: #16679E;
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 180px;
    font-family: ABeeZee;
}

.cube-option{
    font-family: ABeeZee;
    font-size: 18px;
}

select:focus{
    outline:none;
}

button:focus{
    outline: none;
}

input:focus{
    outline: none;
}

.time_box_name{
    font-size: 30px;
    font-family: ABeeZee;
    color: #021827;
    margin-bottom: 30px;
    margin-top: 20px;
}

.diary-note-box{
    border: 3px solid #56C3F4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.diary-date{
    border-bottom: 1px solid #021827;
    padding: 5px;
}

.diary-note{
    color: #003F5B;
    font-size: 18px;
}

.toggle-button{
    display: none !important;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    margin-right: 20px;
}

.bar{
    height: 3px;
    width: 100%;
    background-color: #003F5B;
    border-radius: 10px;
}

.active-menu{
    position: absolute;
    right: 0;
    top: 170px;
    height: 92vh;
    background-color: #003F5B;
    display: flex;
    flex-direction: column;
    padding: 60px;
    align-items: center;
    width: 50%;
    /*transform: translateX(100%);*/
    transition: transform 0.5s ease-in;
}

/* Media queries */
@media screen and (max-width: 1092px) {
    .nav-item{
        font-size: 18px;
        margin-left: 22px;
    }
    .logo{
        height: 55px;
    }
}

@media screen and (max-width: 1050px) {
    .logo{
        margin-left: 0px;
    }
    .process__img img:nth-child(1){
        margin-left: 20%;
    }
    
}

@media screen and (max-width: 991px) {
    .footer__logo{
        margin-left: 48% !important;
    }
    .profile-menu li{
        font-family: ABeeZee;
        font-size: 22px;
        margin-left: 30px;
    }
    .profile-menu{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .profile-menu li{
        text-align: center;
        margin-bottom:10px;
    }
    
}

@media screen and (max-width: 771px) {
    .logo{
        height: 50px;
    }
    .cube-card img{
        height: 140px;
    }
    h1{
        font-size: 40px;
        margin-bottom: 25px;
    }
    .cube-card {
        width: 275px;
        margin-bottom: 50px;
    }
    .step_name {
        font-size: 34px;
        margin-bottom: 18px;
    }
    .steps_step_name {
        font-size: 28px;
        margin-bottom: 20px;
    }
    .card__solution-text, .card__name-text{
        font-size: 24px;
    }
    .card__exp-text {
        line-height: 23px;
        font-size: 18px;
    }
}

@media screen and (max-width: 700px) {
    .cube-card {
        width: 240px;
        margin-bottom: 50px;
    }
    .cube-card img{
        height: 110px;
    }
    h1{
        font-size: 36px;
        margin-bottom: 25px;
    }
    .step_name {
        font-size: 30px;
        margin-bottom: 18px;
    }
    .steps_step_name {
        font-size: 28px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {
    .cube-card {
        width: 210px;
        margin-bottom: 40px;
    }
    .cube-card img{
        height: 100px;
    }
    .card__solution-text, .card__name-text{
        font-size: 22px;
    }
    .card__exp-text {
        line-height: 23px;
        font-size: 16px;
    }

}

@media screen and (max-width: 400px) {
    .logo{
        height: 40px;
    }
    .cube-card {
        width: 180px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 380px) {
    .cube-row{
        margin-left: auto;
        flex-direction: column;
    }
    .cube-card {
        width: 250px;
        margin-bottom: 40px;
    }
    .cube-card img{
        height: 130px;
    }
}

@media screen and (max-width: 324px) {
    .logo{
        height:30px;
    }
}
