{% extends "cubic/profile_layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<section class="steps">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="steps_step_name">
                    Progress
                </h2>
            </div>
        </div>
        <div class="row">
            {% for time in times %}
            <div class="col-lg-3">
                <h6 class="progress_date">
                    {{ time.date|date:"F d, Y" }}
                </h6>
                <h4 class="progress_time">
                    Time: {{time.time}}
                </h4>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form method="POST" action="{% url 'progress-time' %}">
                    {% csrf_token %}
                    <fieldset class="form-group progress-time-form">
                        <legend class="mb-8 progress-time-title">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% if LANGUAGE_CODE == 'uz' %} 
                                Kubikni yasashga ketgan vaqtingizni yozing
                            {% else %}
                                Write down a time you spent solving a cube
                            {% endif %}
                        </legend>
                        <input type="text" name="time" maxlength="100" class="progress-time-input textinput textInput" required id="id_time"> </div> </div>
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info  progress-time-button" type="submit">
                            {% if LANGUAGE_CODE == 'uz' %} 
                                Saqlash
                            {% else %}
                                Save
                            {% endif %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}